@media screen and (min-width:768px){
   .header{
   	background-image: url(../img/logo-bg.png);
   }
   .game{
   	 background-image: url(../img/pc_03.jpg);
   	 background-repeat:repeat-y;
   	 background-size: inherit;
   }
    .join{
   	 background-image: url(../img/pc_03.jpg);
   	 background-repeat:repeat-y;
   	 background-size: inherit;
   }
   .block_box{
   	 background-color: #010230;
   	 background-image: url(../img/pc_05.jpg);
   	 padding-bottom: 360px;
   }
   .start_time{ margin-top: 50px;}
   .common_title span{
    	width: 400px;
	    height: 90px;
	    line-height: 90px;
   }

   .lottery{
   	border-radius: 0px;
   }
   .block_item{
   	   background: #020b50;
	   margin-right: 15px;
	   padding: 20px 8px;
	   
   }
   
}
@media only screen and (min-width:0px) and (max-width: 1200px) {
	.block_list {
		display: block;
	}
	.block_item {
		margin-right: 0;
	}	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   
	.logo img {
		width: 100%;
		position: relative;
		top: -50px;
	}
	.title {
		font-size: 60px;
	}
	.common_intro {
		width: 80%;
	}
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
	.page{
		background-image: url(../img/page-bg-new.png);
		background-size: 100% 100%;
	}
	.header {
		/* background-image: url(../img/logo-bg.png); */
		padding: 50px 0;
		padding-bottom:220px;
	}
	.game{
		/* background-image: url(../img/bg_02.jpg); */
	}
	.join{
		/* background-image: url(../img/bg_03.jpg); */
	}
	.block_box{
   	 /* background-image: url(../img/bg_04.jpg); */
    }
	.logo img {
		width: 100%;
		position: relative;
		top: -50px;
	}
	.title {
		font-size: 50px;
	}
	.common_intro {
		width: 80%;
	}
	.common_intro {
		width:90%;
	}
	.nav_btn{
		display: block;
	}
	.nav{
		display: none;
		
	}
	.nav_mobile{ display: block;}
	.back{ display: block;}
	.common_title{
		font-size: 24px;
	}
	
	span.title-span {
	    width: 132px;
	    height: 44px;
	    line-height: 44px;
	    color: #00FFFC;
	    font-size: 18px;
	    display: inline-block;
	    background-image: url(../img/title-bg-2.png);
		background-position: center;
		background-size: 100% 100%;
	    margin-top: 20px;
	}
	.rank_bg{
		background-image: url(../img/rank-bg.png);
		background-position: center;
		background-size: 100% 100%;
		border-radius: 0;
		padding: 20px;
	}
	p.btns {
	    margin-top: 10px;
	}
	.sub_btn button.btn.copy {
		background-image: url(../img/button-bg-3.png);
		background-position: center;
		background-size: 100% 100%;
	}
	.sub_btn button.btn.buy {
		background-image: url(../img/button-bg-1.png);
		background-position: center;
		background-size: 100% 100%;
		width: 143px;
	}
	.tab.join_tab.join {
	    margin-bottom: 0;
	}
	.join_tab{
		background-image: url(../img/mask-bg-1.png);
		background-position: center;
		background-size: 100% 100%;
	}
	.join_tab.rule{
		background-image: url(../img/mask-bg-2.png);
		background-position: center;
		background-size: 100% 100%;
		margin: 0;
		padding: 30px 13px;
	}
}